In [15]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import os

In [16]:
# Import Matplot lib
import matplotlib
from matplotlib import style
style.use('seaborn')
import matplotlib.pyplot as plt

In [18]:
# Import ppostgres username and password - DO NOT PUSH TO GitHub
from userpass_key import userpass

In [19]:
# Create engine using the HPEmployeed DataBase from PostgresSQL
engine = create_engine(f'postgresql://{userpass}@localhost:5432/HPEmployees_db')

In [20]:
# Use the Inspector to explore the database and print the table names
# YOUR CODE HERE

inspector=inspect(engine)

inspector.get_table_names()

['title', 'employees', 'salaries', 'dept_emp', 'departments', 'dept_manager']

In [27]:
# Use Inspector to print the column names and types for Salaries Table

columns=inspector.get_columns('salaries')
# columns
for each_column in columns:
    print(f" {each_column['name']} - {each_column['type']}")

 emp_no - VARCHAR
 salary - INTEGER

In [29]:
# Use Inspector to print the column names and types for Title Table

columns=inspector.get_columns('title')
# columns
for each_column in columns:
    print(f" {each_column['name']} - {each_column['type']}")

 title_id - VARCHAR
 title - VARCHAR

In [30]:
# Use Inspector to print the column names and types for Employees Table

columns=inspector.get_columns('employees')
# columns
for each_column in columns:
    print(f" {each_column['name']} - {each_column['type']}")

 emp_no - VARCHAR
 emp_title_id - VARCHAR
 birth_date - DATE
 first_name - VARCHAR
 last_name - VARCHAR
 sex - VARCHAR
 hire_date - DATE

In [23]:
# Reflect Database into ORM class
Base = automap_base()
Base.prepare(engine, reflect=True)
Salaries = Base.classes.salaries
Titles = Base.classes.title

In [24]:
# Start a session to query the database
session = Session(engine)

In [ ]:
emp_sal=session.query(Salaries).all()
emp_sal